@import "tailwindcss";

@theme {
  /* ...app colors ... */
  --color-black: #0B0B0B;
  --color-white: #FFFFFF;

  --color-offwhite: #F9FAFB;

  /* app fonts */
  --font-onsite: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
}

:root {
  --font-onsite: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  --size-font: 16px;
}

body {
  margin: 0;
  font-family: var(--font-onsite);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-offwhite);
}